{% extends "layout.html" %}
{% block head %}
<style>
    
        body {
            background-image: url('/static/day_wp.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed; 
            background-size: 100% 100%;
        }
</style>
{% endblock %}


{% block main %}

<form action = "/" method="post">
    <select id="country">
        {% for country in countries %}
            <option>{{ country.name }}</option>
        {% endfor %}
    </select>
    <button type="submit">Submit</button>
</form>

{% endblock %}