{% extends "layout.html" %}
{% block head %}

{% if is_day %}
<style>
    
        body {
            background-image: url('/static/day_wp.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed; 
            background-size: 100% 100%;
        }
</style>
{% else %}
<style>
    
    body {
        background-image: url('/static/night_wp.jpeg');
        background-repeat: no-repeat;
        background-attachment: fixed; 
        background-size: 100% 100%;
    }
</style>
<style>
    .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
</style>

{% endif %}

{% endblock %}


{% block main %}

<div class="container-fluid">
    <div class="row content">
        
      <br>
      
      <div class="col-sm-12">
        <div class="well">
          <h4>{{ region }}</h4>
          <p>{{ location_country }}</p>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="well">
              <h4>Temperature:</h4>
              <p>{{ temp_c }}  &#8451</p> 
            </div>
          </div>
          <div class="col-sm-3">
            <div class="well">
              <h4>Wind speed</h4>
              <p>{{ wind_kph }} Kph</p> 
            </div>
          </div>
          <div class="col-sm-3">
            <div class="well">
              <h4>Wind Degree</h4>
              <p>{{ wind_degree }}</p> 
            </div>
          </div>
          <div class="col-sm-3">
            <div class="well">
              <h4>Wind direction</h4>
              <p>{{ wind_dir }} </p> 
            </div>
          </div>
        </div>
        <div class="row">
          <!-- <div class="col-sm-4">
            <div class="well">
              <p>Text</p> 
              <p>Text</p> 
              <p>Text</p> 
            </div>
          </div>
          <div class="col-sm-4">
            <div class="well">
              <p>Text</p> 
              <p>Text</p> 
              <p>Text</p> 
            </div>
          </div>
          <div class="col-sm-4">
            <div class="well">
              <p>Text</p> 
              <p>Text</p> 
              <p>Text</p> 
            </div>
          </div> -->
        </div>
        <div class="row">
          <div class="col-sm-8">
            <div class="well">
              <p>Weather condition: {{ condition }}</p> 
            </div>
          </div>
          <div class="col-sm-4">
            <div class="well">
                {% if is_day %}
                    <p> Day</p>
                {% else %}
                    <p>Night</p>

                {% endif %} 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<form action = "/" method="post">
    <select name="country_name" class = "form-control mx-auto w-auto">
        {% for country in countries %}
            <option value= "{{ countries[country] }}" >{{ countries[country] }}</option>
        {% endfor %}
    </select>
    <div>
        <button class="btn btn-primary " type="submit">Submit</button>
    </div>
</form>

{% endblock %}