<!DOCTYPE html>
<html>

    <head>
        

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Homepage</title>

        {% block head %} {% endblock %}

        <style>
            body {
                background-image: url('/static/day_wp.webp');
                background-repeat: no-repeat;
                background-attachment: fixed; 
                background-size: 100% 100%;
            }
        </style>
        
    </head>

    <body>

        <main>
            {% block main %} {% endblock %}
        </main>
        <footer>
            {% block footer %}{% endblock %}
        </footer>

    </body>
        
</html>