<!DOCTYPE html>
<html>

    <head>
        

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <title>Homepage</title>

        {% block head %} {% endblock %}

    </head>

    <body>

        <main>
            {% block main %} {% endblock %}
        </main>
        <footer class="mb-5 small text-center text-muted">
            <a href="https://www.weatherapi.com/" title="Free Weather API"><img src='//cdn.weatherapi.com/v4/images/weatherapi_logo.png' alt="Weather data by WeatherAPI.com" border="0"></a>
            {% block footer %}{% endblock %}
        </footer>

    </body>
        
</html>